<!DOCTYPE html>
<html>
<head>
<title>Welcome to AWS OpsWorks!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to AWS OpsWorks!</h1>
<p>If you see this page, the AWS OpsWorks worked and it has 
successfully installed nginx web server and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="https://docs.aws.amazon.com/opsworks/latest/userguide/welcome.html">AWS OpsWorks</a>.<br/>

<p><em>Thank you for using AWS OpsWorks.</em></p>
</body>
</html>
